/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  color: #323131 !important;
}
.list-style-type-none {
  list-style-type: none;
}
.formCard{
/* width: 100%;
height: 100%; */
background: rgba(195, 201, 252, 0.1);
border: 1px solid #E7E7EB;
border-radius: 15px;
}

.headerCard{
  box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #AAAAAA;
width: 237px;
height: 55px;

background: #FFFFFF;
border: 1px solid #AAAAAA;
}
h3 {
  color: #6f6d6d !important;
}
.close{
  height:100%;
}

.bg-bene {
 min-width: 232px;
min-height: 36px;
background: #F5F3FF;
border-radius: 4px;
}
.list-style-none {
  list-style-type: none;
  padding: 0;
}
.bg-gr {
  font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
color: #AAAAAA;
}

